body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        #009688 0%, 
        #009688 130px,
        #D9DBD5 130px,
        #D9DBD5 100%);
}
