.container {
    display: grid;
    width: 85vw;
    height: 95vh;
    background-color: #ffffff;
    grid-template-areas:
        "body_left body_right";
    grid-template-columns: 500px 1fr;
}

.container_home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F5;
    border-bottom: 5px solid #00A884;
}

.img_home {
    padding-left: 50px;
}

.container_home_resources {
    font-size: 32px;
    color: #41525D;
}

.message_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.description_home {
    font-size: 14px;
    color: #667781;
    text-align: center;
}

.footer_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #667781;
}

.back {
    display: none;
}

/* TABLET */
@media (max-width:960px) {
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "body_left"
            "body_right";
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
    }

    .body_right {
        width: 100vw;
        height: 100vh;
    }

    .body_left {
        width: 100vw;
        height: 100vh;
    }

    .search_chat {
        width: 100vw;
    }

    .container_home_resources {
        display: none;
    }

    .back {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: #00A884;
        display: grid;
        place-content: center;
        color: black;
        border-radius: 50%;
        z-index: 13;
        right: 8px;
        bottom: 90px;
        opacity: .2;
        transition: opacity 0.5s;
    }

    .back:hover {
        opacity: 1;
    }
}

/* MOBILE */
@media (max-width:640px) {

}