.chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all .5s;
    border: 0;
}

.chatlist .block:hover {
    background: rgb(228, 228, 228);
}

.chatlist .block .imgbx {
    position: relative;
    width: 60px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time {
    font-size: 0.75rem;
    color: #aaa;
}