@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,
li {
    list-style: none;
}


/*a {
  text-decoration: none;
  color: inherit;
} */