body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#00A884 0%, #00A884 127px, #eae6df 127px, #d1d7db 100%);
}
.container{
    display: grid;
    width: 83vw;
    height: 97vh;
    background-color: #ffffff;
    grid-template-areas: 
    "container-esquerdo container-direito";
    grid-template-columns: 480px 1fr;
}
.container-esquerdo{
    grid-area: container-esquerdo;
    background-color: #ffffff;
}
.container-direito{
    grid-area: container-direito;
    background-color: #efeae2;
}
/* .container-direito::before{
    background-image: url(../img/fundo-mensagens.png);
    position: absolute;
    content: "";
    opacity: 0.1;
    width: 1114px;
    height: 908px;
} */
.header-esquerdo{
    display: flex;
    width: 100%;
    height: 59px;
    background-color: #F0F2F5;
    justify-content: space-between;
    align-items: center;
}
.nav-perfil{
    display: flex;
    width: 190px;
    justify-content: space-around;
    margin-right: 16px;
}
.img-perfil{
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}
.nav-perfil i{
    display: flex;
    font-size: 20px;
    color: #54656f;
    cursor: pointer;
}
.barra-pesquisa{
    display: flex;
    width: 100%;
    height: 49px;
    align-items: center;
    justify-content: space-evenly;
}
.caixa-pesquisa{
    width: 380px;
    border: none;
    outline: 0;
    background-color: #F0F2F5;
    height: 35px;
    border-radius: 8px;
    font-size: .9rem;
    padding-left: 64px;
    text-overflow: ellipsis;
}
.pesquisa i{
    position: absolute;
    color: #54656f;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
    cursor: pointer;
}
.filtro i{
    font-size: 20px;
    color: #54656f;
    cursor: pointer;
}
.container-mensagens{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.container-conversas{
    display: flex;
    padding: 14px;
}
.img-chat{
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.container-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #d1d7db;
    padding-bottom: 8px;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 8px;
}
.info-conversa{
    color: #3B4A54;
    font-size: 14px;
}
.hora{
    color: #667781;
    font-size: 14px;
}
/* TABLET */
@media (max-width:960px){
    .container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "container-esquerdo";
        grid-template-columns: 1fr;
    }
    .container-direito{
        display: none;
    }
    .caixa-pesquisa{
        width: 80vw;
    }
}
/* MOBILE */
@media (max-width:640px){
  
}