.container-perfil {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    align-items: center;
    height: 7%;
    width: 100%;
    padding: 15px;
    border-right: 1px solid #2525252f;

}

.fotos-perfil {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.icone-perfil {
    align-items: center;
    display: flex;
    gap: 15px;
}
