* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
} */