body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

.container{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 #0000000c, 0 2px 5px 0 #0000000c;
    display: flex;
}

.container .leftSide{
    position: relative;
    flex: 30%;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.container .leftSideNone{
    display: none;
}

.container .rightSide{
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

.container .rightSideNone{
    display: none;
}

header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userImg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons{
    display: flex;
}

.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5rem;
    margin-left: 22px;
}

.search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search_chat div{
    width: 100%;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: white;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder{
    color: #bbb;
}

.search_chat div i{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2rem;
}

.chatlist{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all .5s;
    border: 0;
}

.chatlist .block:hover{
    background: rgb(228, 228, 228);
}

.chatlist .block .imgbx{
    position: relative;
    width: 60px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chatlist .block .details{
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time{
    font-size: 0.75rem;
    color: #aaa;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color: #aaa;
    display: -webkit-box; -webkit-line-clamp: 1;
    font-size: 0.9rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2rem;
    margin-left: 15px;
}

.imgText h4 span{
    font-size:0.8rem;
    color: #555;
}

.chatbox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9rem;
}

.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85rem;
    opacity: 0.5;
}

.my_message{
    justify-content: flex-end;
}

.friend_message{
   justify-content: flex-start; 
}

.friend_message p{
    background-color: #fff;
    text-align: left;
 }

 .message.friend_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.chatbox_input i{
    cursor: pointer;
    font-size: 1.8rem;
    color: #51585c;
}

.chatbox_input i:nth-child(1){
    margin-right: 15px;
}

.chatbox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
}

.fas.fa-chevron-left{
    display: none;
}

.backButton:hover .fas.fa-chevron-left{
    color: #009688;
}

.fas.fa-chevron-left{
    display: block;
    font-size: 1.5rem;
    margin-right: 20px;
    color: rgb(29, 29, 29);
    transition: all .2s;
    cursor: pointer;
}

@media (max-width: 640px) {
    .container .rightSide{
        display: block;
        position: relative;
        background: #e5ddd5;
    }
    
    .invisible{
        display: none;
    }
}