body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#00A884 0%, #00A884 127px, #eae6df 127px, #d1d7db 100%);
}

.containerE {
  display: grid;
  width: 83vw;
  height: 97vh;
  background-color: #ffffff;
  grid-template-areas:
    "container-esquerdo container-direito";
  grid-template-columns: 480px 1fr;
}

.container-esquerdo {
  grid-area: container-esquerdo;
  background-color: #ffffff;
}

.header-esquerdo {
  display: flex;
  width: 100%;
  height: 59px;
  background-color: #F0F2F5;
  justify-content: space-between;
  align-items: center;
}

.img-perfil {
  display: flex;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 16px;
  cursor: pointer;
}

.nav-perfil {
  display: flex;
  width: 190px;
  justify-content: space-around;
  margin-right: 16px;
}

.nav-perfil i {
  display: flex;
  font-size: 20px;
  color: #54656f;
  cursor: pointer;
}

.barra-pesquisa {
  display: flex;
  width: 100%;
  height: 49px;
  align-items: center;
  justify-content: space-evenly;
}

.pesquisa i {
  position: absolute;
  color: #54656f;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 16px;
  cursor: pointer;
}

.caixa-pesquisa {
  width: 380px;
  border: none;
  outline: 0;
  background-color: #F0F2F5;
  height: 35px;
  border-radius: 8px;
  font-size: .9rem;
  padding-left: 64px;
  text-overflow: ellipsis;
}

.filtro i {
  font-size: 20px;
  color: #54656f;
  cursor: pointer;
}

.container-mensagens {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.container-conversas {
  display: flex;
  padding: 14px;
  cursor: pointer;
}

.container-conversas:hover {
  background-color: #e9edef;
}

.img-chat {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.container-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #d1d7db;
  padding-bottom: 8px;
  padding-left: 8px;
}

.info-nome {
  font-family: Arial, Helvetica, sans-serif;
}

.info-conversa {
  color: #3B4A54;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.hora {
  color: #667781;
  font-size: 14px;
}



/*Container da Direita*/
.container-direito {
  grid-area: container-direito;
  background-color: #efeae2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}
.header-direito {
  display: flex;
  width: 100%;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  background-color: #F0F2F5;
  border-left: .5px solid #d1d7db;
}

.container-header {
  display: flex;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
}

.nav-perfil-direito {
  display: flex;
  gap: 32px;
  padding-right: 16px;
}

.nav-perfil-direito i {
  font-size: 18px;
  color: #54656f;
}

.container-mensagens-direita {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.caixa-mensagens-minha {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-end;
}

.msg-minha {
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #d9fdd3;
}

.hora-minha {
  font-size: 0.7rem;
  opacity: 0.5;
}

.caixa-mensagens-sua {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.msg-sua {
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #ffffff;
}

.hora-sua {
  font-size: 0.7rem;
  opacity: 0.5;
}

.chatBox_input {

  width: 100%;
  height: 60px;
  background-color: #f0f2f5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-left: 1px solid #e9edef;
}

.chatBox_input i {
  cursor: pointer;
  font-size: 1.2rem;
  color: #54656f;
}

.chatBox_input input {

  width: 90%;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}
.chatBox_input-none{
  display: none;
}
.back{
  display: none;
}


/* TABLET */
@media (max-width:960px) {
  .containerE {
    display: grid;
    grid-template-areas:
      "container-esquerdo" 
      "container-direito";
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
  }

  .container-direito {
    height: 100vh;
    width: 100vw;
  }

  .container-esquerdo {
    height: 100vh;
    width: 100vw;
  }
  .caixa-pesquisa{
    width: 75vw;
  }
  /* .containerE{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00A884;
  } */
  .back{
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #00A884;
    display: grid;
    place-content: center;
    color: black;
    border-radius: 50%;
    z-index: 666;
    right: 8px;
    bottom: 70px;
    opacity: 0.2;
    transition: opacity 0.5s;
  }
}



/* MOBILE */
@media (max-width:640px) {}