.chats{
    height: 100%;
    width: 75%;
    background-color: #efebe2;
    border-radius: 10px;
    border: 1px #f0f2f5 solid;
}
.chats__info{
    display: flex;
    flex-direction: row;
    background-color: #F0F2F5;
    height: 7vh;
    width: 100%;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;
    padding: 20px;
}
.chats__info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #F0F2F5 solid;
}
.chats__info h3{
    font-size: 1rem;
    font-weight: 600;
}
.chats__info p{
    font-size: .8rem;
    color: gray;
}
.info__contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.info__texts{
    align-self: center;
}

.chats__messages{
    height: 83vh;
    overflow-x: auto;
}
.chats__messages div{
    display: flex;
    width: auto;
    margin: .1%;
    padding: 1%;
}
.messages__contact{
    justify-content: start;
}
.messages__contact p{
    background-color: #d8fdd2;
    padding: 1%;
}
.messages__me{
    justify-content: end;
    
}
.messages__me p{
    background-color: #d8fdd2;
    padding: 1%;
}
.messages__time{
    font-size: .7rem;
    color: gray;
    position: end;
}
.messages__time{
    border-radius: 0px 10px 10px 0px;
}
.messages__text{
    border-radius: 10px 0px 0px 10px;
}