* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #d6dbd9;
    position: relative;

}

body::before {
    content: "";
    background-color: #009688;
    height: 13%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0
}

main {
    width: auto;
    height: auto;
    overflow: auto;
}

img {
    width: 100%;
    border-radius: 50%;
}

.media {
    cursor: pointer;
    display: flex;
    gap: 5px;
}

  
