<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <title>Chat</title>
</head>
<body>
    <div class="chat">
        <div class="chat__header">
            <div class="contact-info selected">
                <img src="./contact1.png" alt="">
                <p class="contact__name">Nome</p>
                <p>Descrição</div>
            </div>
        </div>
        <div class="chat__box">

        </div>
    </div>
</body>
</html>