.container{
    grid-area: content;
    width: 80vw;
    height: 88vh;
    background-color: #f0f2f2;
    display: flex;
    align-self: center;
}

.container__chat{
    height: 88vh;
    width: 21vw;
    background-color: #ffff;
}


