.container{
    grid-area: content;
    width: 97vw;
    height: 90vh;
    background-color: #f0f2f2;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: 2px 2px 2px 2px #f0f2f2;
}

.container__chat{
    height: 95vh;
    width: 27vw;
    background-color: #ffff;
}

.config{
    height: 7vh;
    width: 27vw;
    background-color: #e9edef;
    box-shadow: 1px 1px 1px #e9edef;
    display: flex;
    
}

.photo{
    width: 29vh;
    display: flex;
}

.img__photo{
    height: 5vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 8px;
}