.menu{
    height: 7vh;
    width: 21vw;
    background-color: #e9edef;
    display: flex;
    
}

.profile{
    width: 29vh;
    display: flex;
}

.photo__profile{
    height: 3.8vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 8px;
}

.icon{
    width: 12vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons{
    font-size: 1.1rem;
    color: #667781;
    width: 12vw;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}