body{
    background-color: #232222;
    padding-top: 5vh;
    padding-right: 8vw;
    padding-left: 8vw;
}

header{
    display: grid;
    grid-template-areas: 
    "left right";
    height: 8vh;
}
.header-left{

    display: flex;
    width: 25vw;    
    background-color: #000;
    align-items: center;
    grid-area: left;

}

.header-right{

    width: 59vw;
    background-color: #000000;
    grid-area: right;
    
}



main{
    height: 80vh;
    width: 100%;
    background-color: #858585;
}

a{
    color: #ffffff;
}

i{
    color: #ffff;
}
@media (max-width: 640px){

    body{
        height: 88vh;
        padding: 0;
        background-color: #455473;
    }

    header{
        width: 100%;
    }

    .header-right{
        display: none;
    }
    .header-left{
        width: 100%;
    }
}

