body{
    background-color: #232222;
    padding-top: 5vh;
    padding-right: 8vw;
    padding-left: 8vw;
    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 
    1fr 2fr;
}

.body-left{
    grid-area: left;
    
}
.body-right{
    grid-area: right;
    height: 78vh;
    

}


.header-left{

    display: flex;
    width: 25vw;    
    background-color: #000;
    align-items: center;
    

}

.header-right{
    height: 8vh;
    width: 59vw;
    background-color: #000000;
    
    
}



main{
    height: 80vh;
    width: 100%;
    background-color: #858585;
}


@media (max-width: 640px){

    body{
      
        padding: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150vh;
    }

    header{
        width: 100%;
    }

    
    .header-left{
        width: 100%;
    }

    

    
}

