.right-side__container {
    height: 100%;
    float: right;
    width: 69vw;
    background: #001B26;
    border-radius: 0px 29px 29px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 2fr;
}


.contact-information__container {
    grid-row: 1;
    width: 100%;
    height: 6vh;
    padding: 2rem;
    background: #fff;
    border-radius: 0px 29px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.contact-information__container i {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
}

.contact-information__container i:hover {
    font-size: 2.4rem;
    transition: .3s;
}

.contact-information__image-name-description {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.contact-information__image {
    height: 6vh;
    width: auto;
    border-radius: 50%;
    place-self: left;
    cursor: pointer;
}

.contact-information__name {
    font-weight: 400;
    font-size: 2rem;
}

.contact-information__description {
    font-weight: 400;
    font-size: 0.9rem;
}

.messages__container {
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    padding: 0.5rem;
}

.message-text__container,
.message-text-contact__container {
    padding-left: 0.3rem;
    border-radius: 5px;
    width: 30%;
    color: #000;
}

.message-text-contact__container span {
    font-size: 0.8rem;
}

.message-text__container span {
    font-size: 0.8rem;
}

.message-text-contact__container {
    background: #fff;
    align-self: self-start;
}

.message-text__container {
    background: #D9D9D9;
    align-self: self-end;
}

.message-input__container {
    border-radius: 0px 0px 29px 0px;
    width: 100%;
    height: 6vh;
    grid-row: 3;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.message-input__container i {
    color: #000;
    font-size: 2rem;
    cursor: pointer;
}

#icone {
    color: #001B26;
}

.message-input__container i:hover {
    font-size: 2.3rem;
    transition: .3s;
}

.message-input__container input {
    background: #D9D9D9;
    width: 60vw;
    height: 3.5vh;
    border-radius: 10px;
}

@media (max-width:640px) {
    .right-side__container {
        width: 100%;
        float: center;
        border-radius: 29px;
    }

    .message-input__container {
        border-radius: 0px 0px 29px 29px;
    }

    .contact-information__container {
        border-radius: 29px 29px 0px 0px;
    }
}