.contact__box {
    min-width: 100%;
    height: 100%;

}

.user_profile__box {
    min-height: 20vh;
}

.contacts__list {
    min-height: max-content;
    height: 100%;
    margin: 1rem;
    position: relative;
}

.contacts__container {
    width: 100%;
    height: 70%;
    margin-bottom: 5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* position: absolute; */
    border-top: 1px solid #FFAE03;
    border-bottom: 1px solid #FFAE03;
}

.contacts__container::-webkit-scrollbar {
    width: .6rem;
}

.contacts__container::-webkit-scrollbar-track {
    background: transparent;
}

.contacts__container::-webkit-scrollbar-thumb {
    background-color: #E78A38;
    border-radius: 22px;
    border: 3px solid #fff;
}

.contact__image {
    width: 3rem;
    margin-left: 2px;
    align-self: center;
    display: flex;
    border-radius: 100%;
}

.card__title {
    width: 8rem;
}

.contact__name {
    font-size: 1rem;
    display: flex;
}

.contact__description {
    font-size: .7rem;
    height: 1rem;
    width: 80%;
    color: #FFAE03;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact {
    height: 5rem;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    width: 12rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

/* TABLET */
@media (max-width: 960px) {
    .contact__box{
        width: 15rem;
    }
    .contacts__container {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}