.contact__box {
    background-color: azure;
    min-width: 100%;
    height: 100%;
}

.user__profile {
    background-color: transparent;
    height: 30%;
}

.contacts__list {
    background-color: brown;
    height: 70%;
}


.fa-sharp {
    font-size: 1rem;
    color: #E67F0D;
    width: 2rem;
}

/* 
 */