.input_chat {
    background: transparent;
    border: transparent;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    justify-content: flex-start;
    font-size: 1rem;
    outline: 0;
    margin: .5rem;
}
.input_box{
    border-radius: 15px;
    height: 3rem;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    border: 2px solid #FFBA29;
}
.message__entry{
    grid-area: chat;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    
}
.input_chat::placeholde{
    color: #FFBA29;
}