.chat__box {
    height: 100%;
    width: 100%;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #958F83;
    background-color: #FFEEE6;
}

.contact__profile {
    box-shadow: 0px 1px 5px #000;
    height: 80px;
    width: 100%;
    background-color: #fff;
    /* position: absolute; */
}

.messages_place {
    height: 60%;
    width: 100%;
}
.chat_place {
    height: max-content;
    width: 100%;
}

.left__messages {
    justify-content: start;
    display: flex;
    min-width: 100%;
}

.right__messages {
    justify-content: end;
    display: flex;
    min-width: 100%;
}

.user__message,
.contact__message {
    border-radius: 2px;
    max-width: 20rem;
    height: max-content;
    width: max-content;
    display: flex;
    font-size: 1rem;
}

.user__message {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    margin: 10px;
    background-color:#fff;
    background-clip: padding-box;
}
.contact__message {
    border-top: 10px solid #EEA04E;
    border-left: 10px solid transparent;
    margin: 10px;
    background-color: #EEA04E;
    background-clip: padding-box;
}

.message {
    margin: 10px;
    max-width: 90%;
    word-wrap: break-word;
}