.chat__box {
    height: 100%;
    width: 100%;
    margin: 1rem;
    border-radius: 5px;
    background-color: #FFE7B3;
}

.messages_place {
    height: 60%;
    width: 100%;
}

.chat_place {
    height: max-content;
    width: 100%;
}

.left__messages {
    justify-content: start;
    display: flex;
    min-width: 100%;
}

.right__messages {
    justify-content: end;
    display: flex;
    min-width: 100%;
}

.user__message,
.contact__message {
    border-radius: 2px;
    height: max-content;
    width: max-content;
    font-size: 1rem;
    margin: 10px;
}

.user__message {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    margin: 10px;
    background-color:#fff;
    background-clip: padding-box;
    align-items: end;
}
.contact__message {
    border-top: 10px solid #EEA04E;
    border-left: 10px solid transparent;
    margin: 10px;
    background-color: #EEA04E;
    background-clip: padding-box;
    justify-content: end;
    align-items: flex-end;
    
}

.message {
    margin: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.message-time{
    font-size: .8rem;
    width: max-content;
    margin: .3rem;
    word-wrap: break-word;float: right;
}
.contact__message .message-time{
        float: right;
}

.user__message .message-time{
    float: left;
}