.search_contacts__entry {
    background: transparent;
    border: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: flex-start;
    font-size: .75rem;
    outline: 0;
    width: 7.5rem;
}

.search_group{
    display: flex;
    gap: .5px;
    margin: 1rem;
    justify-content: flex-start;
}

.search_box__contacts {
    border-radius: 10px;
    background-color: #FFE7B3;
    height: 2rem;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: .5rem;
}


