.profile_chat{
    display: flex;
    width: auto;
}
.show_contact{
    display: flex;
}
.chat-card__title{
    width: max-content;
    margin-left: 1rem;
    height: 3rem;
    align-self: center;
}
.chat-contact_image{
    height: 4rem;
    margin-left: 1rem;
    align-self: center;
    border: 1.8px solid #E78A38;
    display: flex;
    border-radius: 100%;
}
.contact__profile {
    height: 80px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #E78A38;
    display: flex;
}
.chat-contact_name{
    font-size: 1.5rem;
    display: flex;
}
.chat-contact_description{
    font-size: 1rem;
    color: #E78A38;
    display: flex;
}