.user_profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 100;
    margin: 1rem;
    list-style: none;
}

.user_info {
    align-items: center;
    justify-content: flex-end;
    height: 50%;
}

.user_info span {
    font-size: .9rem;
}

.fa-sharp {
    font-size: 1rem;
    color: #E67F0D;
    width: 2rem;
}

.user_img {
    height: 4rem;
    margin: .5rem;
}

.user_profile__box {
    justify-content: space-around;
}

.user_profile li {
    position: relative;
    float: left;
}

.user_profile li a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: .9rem;
    padding: 5px 10px;
    display: block;
}

.user_profile li a:hover {
    background: transparent;
    color: #E67F0D;
    text-shadow: 0px 0px 5px #fff;
}

.user_profile li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

.user_profile li:hover ul,
.user_profile li.over ul {
    display: block;
}

.user_profile li ul li {
    border: .5px solid #c0c0c0;
    display: block;
    width: 150px;
}

.fa-caret-down {
    width: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
}