.user_profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 100;
    margin: 1rem;
    list-style: none;
}

.user_info {
    align-items: center;
    justify-content: flex-end;
    height: 40%;
}

.user_info span {
    font-size: .9rem;
}

.fa-sharp {
    font-size: 1rem;
    color: #E67F0D;
    width: 2rem;
}

.user_img {
    height: 4rem;
    margin: .5rem;
}

.user_profile__box {
    height: 10rem;
}

.fa-caret-down {
    width: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
}
@media (max-width: 960px) {
    .user_profile__box{
        height: 8rem;
    }
}
@media (max-width: 760px) {
    .user_profile{
        display: none;
        height: 0;
    }
    .user_profile__box{
        display: none;
    }
}