*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111B21;
}

main{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 95vh;
    width: 85vw;
}

.container-contatos{
    grid-column: 1;
    background-color: tomato;
}

.conversa{
    grid-column: 2;
    background-color: royalblue;
}

.perfil{
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: green;
    justify-content: space-between;
    padding: 0px 30px 0px 10px;
}

.perfil i{
    font-size: 1.5rem;
    color: #AEBAC1;
}

.foto__perfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
}