.header__chat{
    height: 3.5rem;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px
}

.foto__contato__chat{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 15px;
}

.contato__chat{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome__contato__chat{
    font-size: 1rem;
    font-weight: 500;
    color: var(--name-color);
}

.descricao__contato__chat{
    color: var(--third-color);
    font-size: 12px;
    font-weight: 400;
}