.main__chat {
    background-color: #0B141A;
    height: 50rem;
    display: flex;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    gap: 10px;
}

.container__contato{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.container__me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mensagens__contato{
    color: #E9EDEF;
    background-color:var(--second-color);
    position: relative;
    width: max-content;
    left: 0;
    padding: 10px;
    border-radius: 7.5px;
}

.hora__chat__contato{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
}

.mensagens__me{
    color: #E9EDEF;
    background-color:#005C4B;
    position: relative;
    width: max-content;
    right: 0;
    padding: 10px;
    border-radius: 7.5px;
}

.chat__mensagens__me{
    font-size: 14px;
    padding-right: 20px;
}

.chat__mensagens__contato{
    font-size: 14px;
    padding-right: 20px;
}

.hora__chat__me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
}
