.main__chat {
    background-color: #0B141A;
    height: 49rem;
    display: flex;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    gap: 10px;
}

.contact__container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.me__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.messages__contact{
    color: #E9EDEF;
    background-color:var(--second-color);
    position: relative;
    width: max-content;
    left: 0;
    padding: 10px;
    border-radius: 7.5px;
}

.time__chat__contact{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
}

.messages__me{
    color: #E9EDEF;
    background-color:#005C4B;
    position: relative;
    width: max-content;
    right: 0;
    padding: 10px;
    border-radius: 7.5px;
}

.message__chat__me{
    font-size: 14px;
    padding-right: 20px;
}

.message__chat__contact{
    font-size: 14px;
    padding-right: 20px;
}

.time__chat__me{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
}























/* .container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__messages{
    width: 100%;
}

.messages__contact{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    width: max-content;
    height: max-content;
    border-radius: 7.5px;
    padding: 5px;
    grid-column: 1;
}

.messages__me{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    width: max-content;
    height: max-content;
    border-radius: 7.5px;
    padding: 5px;
    grid-column: 2;
}

.message__chat{
    color: #E9EDEF;
    font-size: 14px;
    padding-right: 20px;
    
}

.time__chat{
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    color: #A6ABAD;
} */