.search__chat{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    width: 95%;
    display: flex;
    align-items: center;
}

.control input{
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--second-color);
    padding: 6px;
    height: 36px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 40px;
    color: #f6f6f6;
}

#icon__search{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--icon-color);
    font-size: 0.8rem;
}