* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary__color: #263238;
    --font__color: #b0bec5;
    --backContact__color: #455a64;
    --backImage: url(../img/noite.jpg);
    --backFinder: #37474f;
}