.container__main{
    height: 100%;
    width: 70%;
    background: #f0f2f5;
    border-left: 1px solid #e9edef;
}

.container__inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
}
.none{
    display: none;
}

.main__title{
    font: inherit;
    font-size: 2rem;
    padding-bottom: 5vh;
    color: #41525d;
}

.text{
    font-size: 1rem;
    color: #41525d;
}

.prot{
    padding-top: 30vh;
    font-size: 0.8rem;
    color: #41525d;
}


.header__main{
    display: flex;
    align-items: center;
    padding: 16px;
    height: 59px;
    background: #f0f2f5;
    gap: 15px
}

.header__main__name{
    display: flex;
    flex-direction: column;
}

.header__name{
    font-size: 1rem;
}

.header__online{
    font-size: 0.8rem;
}

.container__conversa{
    background-image: url(../recursos/img/zapzap.webp);
    height: 83vh;
}

.footer__main{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 100%;
    gap: 8px;
    
}

.icon{
    height: 26px;
    width: 26px;
    padding: 8px;

}

.input-mensagem{
    width: 50vw;
    border-radius: 10px;
    height: 44px;
    text-align: start;
    border: none;
}

