:root {
    --background-color-green: #00a884;
    --background-color-grey: #e0e0dd;
    --background-tela-inicial: #f0f2f5;
    --background-aside: #ffffff;
    --line-color: #25d366;
    --text-color: #667781;
}