body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--background-color-green) 0%,
                                var(--background-color-green) 127px,
                                var(--background-color-grey) 127px,
                                var(--background-color-grey) 100%);
}

.container {
    display: grid;
    grid-template-columns: 480px 1fr;
    padding: 20px 160px;
    height: 100%;
    width: 100%;
}

.section-tela-inicial {
    display: none;
    height: 100%;
    width: 100%;
    background-color: var(--background-tela-inicial);
    border-bottom: 6px solid var(--line-color);
}

.section-tela-inicial__main {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-tela-inicial__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    color: var(--text-color);
}

.section-tela-inicial__text div {
    font-size: 0.90rem;
}

.section-tela-inicial__text--title {
    font-weight: 300;
    font-size: 2rem;
}

.section-tela-inicial__footer{
    place-self: start center;
    color: var(--text-color);
}

.section-tela-inicial__footer--criptography {
    font-size: 0.90rem;
}

.section-chat-box {
    display: grid;
    grid-template-areas:
    "chat-box-header" 
    "chat-box-main"
    "chat-box-message";
    grid-template-rows: 60px 1fr 65px;
    height: 100vh;
    width: 100%;
}

.section-chat-box__header {
    grid-area: chat-box-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 16px;
    flex: 40px 1 90px;
    background-color: var(--input-color-grey);
    color: var(--icon-color)
}

.section-chat-box--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.section-chat-box--user--pic {
    display: grid;
    place-items: center;
    height: 100%;
    padding-right: 15px;
}

.section-chat-box--user--pic img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.section-chat-box--user--name {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.section-chat-box--user--name p {
    place-self: center start;
    font-size: 1rem;
}

.section-chat-box--user--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.section-chat-box--user--icons span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.section-chat-box--user--icons i {
    font-size: 18px;
    justify-content: center;
    align-self: center;
}

.section-chat-box__main {
    grid-area: chat-box-main;
    background-image: url(../img/image.webp);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px 63px;
}

/* CSS talk bubble */
.balao-conversa {
    display: flex;
    align-self: flex-start;
    position: relative;
	width: fit-content;
    max-width: 500px;
    min-width: 250px;
	height: fit-content;
	background-color: var(--background-color-white);
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
    margin-bottom: 12px;
}

.balao-conversa.me {
    display: flex;
    align-self: flex-end;
    position: relative;
	width: fit-content;
    max-width: 500px;
	height: auto;
	background-color: var(--background-chat-me);
}

.borda {
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

/* Right triangle placed top left flush. */
.contato:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: var(--background-color-white) transparent transparent transparent;
}

.me:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: -20px;
	left: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: var(--background-chat-me) transparent transparent transparent;
}

/* talk bubble contents */
.balao-conversa__conversa {
    padding: 14px 12px;
	text-align: left;
    line-height: 1.5em;
}
.balao-conversa__conversa p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-size: 0.8rem;
}

.section-chat-box__chat-box-message {
    grid-area: chat-box-message;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 94px 1 37px;
    width: 100%;
    background-color: var(--input-color-grey);
    padding: 5px 17px 5px 10px;
}

.section-chat-box__chat-box-message--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 5px 10px;
    height: 100%;
    gap: 16px;
    color: var(--icon-color)
}

.section-chat-box__chat-box-message input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding-left: 9px;
    border: none;
    background-color: var(--background-color-white);
}

.section-chat-box__chat-box-message input:focus {
    outline: none;
    padding-left: 9px;
}

.aside {
    display: grid;
    grid-template-areas: 
        "aside-header"
        "aside-search-area"
        "aside-main";
    grid-template-rows: 60px 50px 1fr;
    height: 100vh;
    background-color: var(--background-color-white);
}

.aside__header {
    grid-area: aside-header;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    padding: 10px 16px;
    background-color: var(--input-color-grey);
}

.aside__header--user-pic {
    flex: 1;
    height: 100%;
    display: grid;
    place-items: start;
}

.aside__header--user-pic img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.aside__header--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 190px;
    height: 100%;
    padding: 8px;
}

.aside__header--icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--icon-color)
}

.aside__search-area {
    grid-area: aside-search-area;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 36px;
    padding-left: 12px;
}

.aside__search-area--search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 35px;
    width: 100%;
    background-color: var(--input-color-grey);
    border-radius: 12px;
    gap: 32px;
}

.aside__search-area--search-box input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.aside__search-area--search-box input:focus {
    outline: none;
}

.aside__search-area i {
    padding: 8px;
    font-size: 16px;
    color: var(--icon-color);
}

.aside__main {
    grid-area: aside-main;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.aside__main--contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    height: 73px;
    width: 100%;
    padding-right: 20px;
}

.aside__main--contact:hover {
    background-color: var(--input-color-grey);
    cursor: pointer;
}

.aside__main--contact-pic {
    display: grid;
    place-items: center;
    height: 100%;
    width: 86px;
    padding: 0px 13px;
}
.aside__main--contact-pic img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.aside__main--contact-content {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--shadow-box);
}
.aside__main--contact-content h4, .aside__main--contact-content p {
    width: 100%;
    text-align: start;
}

.aside__main--contact-content h4 {
    font-size: 1.1rem;
}

.aside__main--contact-content p {
    font-size: 0.8rem;
}

@media screen and (max-height:768px) {
    .container {
        padding: 0px;
    }
}