.contact {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    align-items: center;
    height: 92px;
    padding: 10px 15px;
    gap: 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    width: 100%;
    background-color: var(--backContact__color);
}

.contact:hover {
    border: 5px solid #000;
}

.contact__image {
    border-radius: 50%;
}