.upper-info{
    height: 8vh;
    width: 30vw;
    background-color: #50706a;
    margin-top: 3vh;
    margin-left: 3vw;
}

@media(max-width: 640px){
    .upper-info{
        width: 96vw;
       
    }
    .imgs{
        margin-left: 50vw;
        width: 40vw;
        margin-top: -5.5vh;
    }
    .profile-img{
        height: 33px;
        width: 33px;
        margin-top: 2vh;
        margin-left: 3vw;
    }
    .users-img{
        height: 30px;
        width: 30px;
    }
    .newmg-img{
        height: 30px;
        width: 30px;
    }
    .settings-img{
        height: 30px;
        width: 30px;
    }
}