.nav__main_image {
    min-height: 60px;
    min-width: 60px;
    height: 8vh;
    display: grid;
    place-items: center; 
}

.nav__image_holder {
    display: grid;
    place-items: center;
    min-height: 50px;
    min-width: 50px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 100px 100px 100px 100px;
    margin-left: 20px;
}

.nav__icons {
    color: #fc2f2f;
    display: flex;
    font-size: 20px;
    padding-right: 50px;
    gap: 20px;
}

.nav__icons i {
    cursor: pointer;
}

.nav__icons i:hover {
    opacity: 60%;
}
