body {
    height: 100vh;
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

.header {
    background-color: #98dbff;
    min-height: 70px;
    height: 12vh;
}

.main {
    height: 100%;
    background-color: #98dbff;
}

.footer {
    height: 9vh;
    background-color: #98dbff;
}