.card{
    display: flex;
    height: 110px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.card__image{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    object-fit: contain;
}

.card__titulo{
    display: flex;
    font-size: 1.20rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    align-self: center;  
}

.card__profissao{
    width: 150px;
    font-size: 0.85rem;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
}

@media(max-width: 640px){
    .card{
        display: flex;
        width: 600px;
    }
    .card__image{
        width: 70px;
        height: 70px;
    }
}