.header_msg {
    display: flex;
    height: 67px;
    width: 100%;
}
.header__icons {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    height: 30px;
    gap: 15px;
    margin-top: 1%;
    padding: 10px;
    width: 100%;
}

.header__icons {
    display: flex;
    height: 67px;
}

.header_msg li i:hover{
    color: plum;
}
.header__icons li i:hover {
    color: plum;
}

@media(max-width: 640px){

}
