.header_msg {
    display: flex;
    height: 67px;
    width: 100%;
    background-color: #00a884;
}
.header__icons {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    height: 30px;
    gap: 15px;
    margin-top: 1%;
    padding: 10px;
    width: 100%;
}
.icons__end{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.8rem;
    height: 30px;
    gap: 15px;
    margin-top: 1%;
    padding: 10px;
    width: 100%;
}
/* .header__icons {
    display: flex;
    font-size: 2rem;
} */

.header__icons li i:hover {
    color: white;
}

@media(max-width: 640px){

}
