.icon{
    display: flex;
    align-items: center;
    height: 67px;
    background-color: #00a884; 
    gap: 40px;
    padding-left: 15px; 
}
.icon__menu{
    display: flex;
    width: 190px;  
}
.header__principal{
    display: flex;
    width: 190px;   
    gap: 40px;
}
.mobile{
    display: none;
}
.mobile__title{
    display: none;
}


@media(max-width: 640px){
.icon{
    display: none;
}
.mobile{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 333px;
    padding-left: 15px; 
    color: white;
}
.mobile__title{
    display: flex;
    font-size: 1.3rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
}
.mobile__icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

}