.container__mensagens{
    width: 100%;
    display: grid;
    background-color: azure;
}

 /* .mensagem__contato{


} */

.enviar{
    display: flex;
    align-items: center;
    place-self: end center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
} */

 .enviar span{
    color: #7D7B7B;
}
/*
.enviar__mensagem_span{
   
}

.mensagem__entregue{
   
}

/* .mensagem__entregue_span{
  
}  */

.icons__mensagens {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.icons__mensagens li i {
    font-size: 1.7rem;
    color: #000;
}

.icons__mensagens li i:hover {
    color: plum;
}

@media(max-width: 640px){
    .container__mensagens{
        display: none;
    }
}