*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: 
    'principal' 'mensagens';
    flex-direction: column;
}

main{
    display: flex;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
    color: black;
    gap: 12px;
    height: 50px;
    background-color: #00a884; 
} 

@media(max-width: 640px) {

    body{
        display: flex;
        flex-direction: column;
        /* max-width: 50%; */
        height: 100vh;
        width: 100vw;
    } 
    
    footer{
        font-size: 0.75rem;
        width: 100%;
        gap: 12px;
        height: 25px;
       
    } 
}