*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pure-g {
    flex-flow: nowrap;
}
body{
    height: 100vh;
}

#nav{
   height: 100%;
   min-width: 300px;
   max-width: 500px;
}
#nav__header{
    min-height: 70px;
    height: 10vh;
    background-color: #26242b;
    display: flex;
    align-items: center;
}
#nav__header_image{
    min-height: 50px;
    min-width: 50px;
    height: 8vh;
    display: grid;
    place-items: center;


}
.nav__image_holder{
    min-height: 50px;
    min-width: 50px;
    height: 7vh;
    overflow: hidden;
    border-radius: 100px;
}

#nav__main{
    background-color: #5a5468;
    height: 90%;
}