<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenges</title>
    <link rel="stylesheet" href="messages.css">
</head>
<body>
    <div class="container">
        <p class="message receiver">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo numquam iusto, tempora ex libero nostrum ut facere voluptas eius! Sunt officiis distinctio, ipsum saepe soluta voluptatibus maiores? Sint, obcaecati magnam.</p>
        <p class="message sender">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sint soluta repellendus placeat libero, commodi, asperiores eveniet voluptatem non odio mollitia rem modi est ullam labore? Distinctio sequi ex eius.</p>
    </div>
</body>
</html>