* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    height: 80px;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas:
        'menu menu_conversa';
    grid-template-columns: 0.8fr 2fr;
}

main {
    display: grid;
    grid-template-areas:
        'contatos mensagem';
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: 1fr;
    background-color: #fff;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    grid-area: contatos;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 0.8px solid #a8a5a5;
}

.card {
    display: grid;
    grid-template-areas:
        'foto nome'
        'foto funcao';
    grid-template-columns: 0.5fr 3fr;
    gap: 5px;
    border-bottom: 1px solid #a8a5a5;
    border-radius: 1px;
    cursor: pointer;
    font-size: 5rem;
    height: 100px;
    box-shadow: inset 0 0 50px #c8bcc2;
}

.menu {
    grid-area: menu;
    background-image: linear-gradient(to bottom , #C71D75, #751346);
    display: flex;
    margin-right: 1px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    border-right: 0.8px solid #a8a5a555;
}

.icon__menu {
    flex-direction: row;
    display: flex;
    font-size: 3rem;
}

.menu_conversa {
    grid-area: menu_conversa;
    background-image: linear-gradient(to bottom , #C71D75, #751346);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    
}
.icon__mensagem{
    flex-direction: row;
    display: flex;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;
    gap: 50px;
}
.mensagem {
    grid-area: mensagem;
    display: grid;
    background-color: #0001;
}

.card__image {
    grid-area: foto;
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 100%;
    place-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: #a8a5a5;
}

.card__name {
    grid-area: nome;
    font-size: 2rem;
}

.card__description {
    grid-area: funcao;
    font-size: 1rem;
}