/* Website scroll bar */
::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 0;
    background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
