:root {
    /*-------PALETA-------*/
    --primary-color: #f0f2f5;
    --secundary-color: rgb(212, 0, 255);
    --tertiary-color: rgb(0 205 106);
    --quaternary-color: rgb(255 0 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background: url(../recursos/image/hashira.jpg);
    z-index: -1;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.media {
    background-color: var(--tertiary-color);
    width: 600px;
    height: 100vh;
    box-shadow: 4px 4px 8px #fff2;
    border: 0.5px solid #f0fff3;
}

#container {
    overflow: auto;
    height: 90%;
}

.inside-message {
    display: flex;
    width: 100%;
    height: 100vh;
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
    }
    .media {
        width: 100vw;
        height: 100%;
        /* display: block; */
    }
    #inside-message {
        width: 100vw;
        display: none;
    }
}