* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        #009688 0%, 
        #009688 130px,
        #D9DBD5 130px,
        #D9DBD5 100%);
}

.container {
    position: relative;
    width: 95vw;
    max-width: 100%;
    height: calc(100vh - 5vh);
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
}

.container .body_left {
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .body_right {
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

/* .container .body_right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/cover-wpp.png");
    opacity: 0.06;
} */

/* .container .body_right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./img/image-wpp.jpg");
} */

.header_left {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
        align-items: center;
        padding: 0 15px;
}

.user_profile {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;   
}

.img_profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons {
    display: flex;
}

.nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.25rem;
    margin-left: 22px;
}

.search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search_chat div {
    width: 100%;
}

.search_chat div input {
    width: 98%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 32px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder {
    color: #bbb;
}

.search_chat div i {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 0.90rem;
    color: #51585c;
}

.search_chat i {
    color: #7a7b7c;
    cursor: pointer;
}

.chat_list {
    display: flex;
    flex-direction: column;
}

.chat_active {
    display: flex;
    padding: 14px;
    cursor: pointer;
}

.chat_active:hover {
    background: #e9edef;
}

.img_contact {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.chat_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.name_contact {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
}

.time {
    font-size: 0.75rem;
    color: #111;
}

/* .chat_list .block.unread .details .listHead .time {
    color: #06d755;
} */

.message_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
} */

.header_right {
    display: flex;
    width: 100%;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F2F5;
    border-left: .5px solid #d1d7db;
    padding-right: 15px;
}

.contact_right_info {
    position: relative;
    display: flex;
    align-items: center;
}

.contact_right_info h4 {
    font-weight: 500;
    line-height: 1.2rem;
    margin-left: 15px;
    cursor: pointer;
}

.contact_right_info h4 span {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    color: #555;
}

/* Caixa de mensagens */
.chatbox {
    position: relative;
    width: 100%;
    height: calc(100% - 145px);
    padding: 50px;
    overflow-y: auto;
    background-image: url(./img/cover-wpp.png);
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c8;
    border-radius: 10px;
    font-size: 0.9rem;
}

.chatbox span {
    display: flex;
    flex-direction: column;
}

.message p::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        135deg, 
        #dcf8c8 0%, 
        #dcf8c8 50%, 
        transparent 50%, 
        transparent
        );
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85rem;
    opacity: 0.5;
}

.my_msg {
    justify-content: flex-end;
}

.friend_msg {
    justify-content: flex-start;
}

.friend_msg p {
    background: #fff;
    text-align: left;
}

.message.friend_msg p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        225deg, 
        #fff 0%, 
        #fff 50%, 
        transparent 50%, 
        transparent
        );
}

.chat_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_input i {
    cursor: pointer;
    font-size: 1.3rem;
    color: #51585c;
}

.chat_input i:nth-child(1) {
    margin-right: 15px;
}

.chat_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
}

/* TABLET */
@media (max-width:960px){
    .container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "body_left";
        grid-template-columns: 1fr;
    }
    .body_right{
        display: none;
    }
    .search_chat{
        width: 100vw;
    }
}
/* MOBILE */
@media (max-width:640px){
  
}