.input-box{
    /* width: 930px; */
    /* width: 50vw; */
    height: 64px;
    background-color: #282828;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.input__buttons{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-button{
    height: 30px;
    width: 30px;
}
.input-text{
    width: 80%;
    margin: .75rem;
    background-color: #3C3C3C;
    border-radius: 10px;
}
.input-text::placeholder{
    position: absolute;
    left: 2rem;
    bottom: .75rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #7D7D7D;
}