*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: grid;
    place-content: center;
    width: 100%;
    height: 140px;
    background-color: #00A884;
}

main{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, (300, 1fr));
    width: 100%;
    height: 100%;
    background-color: #E2E1DE;
}

i{
    font-size: 24px;
}
a{
    color: #54656f;
}

.container__user__interface{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F0F2F5;
    width: 80vw;
    height: 90vh;
    transform: translateY(-110px);
}

.navegation__user{
    width: 35%;    
    height: 100%;
    background-color: white;
}

.your__user{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F0F2F5;
    cursor: pointer;  
    border-right: 1px solid #D1D7DB;  
}

.icons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;  
}

.search{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
    border-bottom: 2px solid #F0F2F5;
}
#users__search{
    width: 85%;
    height: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: none;
    border-color: transparent;
    background-color: #F0F2F5;
    
}

.user__talked{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    color: black;   
    border-bottom: 2px solid #F0F2F5;
    cursor: pointer;
}


.user__talked:hover {
    background-color: #E9EDEF;
    border: 1px solid transparent;

}

.text__user{
    display: flex;
    flex-direction: column;
    
}


.chat__user{
    width: 100%;
    height: 100%;
}

.user__image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.chat__header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F0F2F5;
    cursor: pointer;  
    border-right: 1px solid #D1D7DB; 
    border-bottom: 1px solid #D1D7DB;
}

.user{
    display: flex;
    align-items: center;
}

.user__name{
    margin-left: 10px;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


