html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

img,
i:hover {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  min-height: 100vh;
}
