:root {
  --primary-color: #121b21;
  --secondary-color: #212e35;
  --text-color: #d0d4d6;
  --text-subcolor: #8596a0;
  --text-receiver-background-color: #005c4b;
  --separator-color: #384045;
  --message-input-color: #293942;
}
