* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary__color: #263238;
    --font__color: #b0bec5;
    --backContact__color: #455a64;
}

html {
    background-color: var(--primary__color);
}

body {
    display: grid;
    grid-template-areas: 'header main';
    grid-template-columns: minmax(300px, 400px) minmax(400px, 1fr);
}

header {
    height: 100vh;
    background-color: var(--backContact__color);
    overflow-y: scroll;
}

::-webkit-scrollbar-track {
    background-color: var(--backContact__color);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--backContact__color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary__color);
}

.panel__header {
    background-color: var(--primary__color);
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status {
    display: flex;
    gap: 50px;
}

header img,
main img {
    width: 60px;
    height: 60px;
}

header span {
    font-size: 24px;
    color: var(--font__color);
}

.panel__header__finder {
    background-color: #37474f;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    gap: 20px;
}

.camp__finder {
    background-color: #78909c;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    align-items: center;
    height: 92px;
    padding: 10px 15px;
    gap: 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    width: 100%;
    background-color: var(--backContact__color);
}

.contact:hover {
    border: 5px solid #000;
}

.contact__image {
    border-radius: 50%;
}

main {
    grid-template-areas: 'header''main''footer';
    grid-template-rows: 85px 1fr 65px;
    background-color: var(--primary__color);
    height: 100%;
    display: none;
}

.main__header {
    background-color: var(--primary__color);
    grid-area: header;
    display: grid;
    grid-template-columns: 65px 1fr 65px;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
    color: var(--font__color);
}

.main__icons {
    display: flex;
    font-size: 24px;
    color: var(--font__color);
    gap: 40px;
}

.main__mensagem {
    grid-area: main;
    height: 100%;
    background-image: url(./img/noite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

.main__mensagem__contact,
.main__mensagem__contact__end {
    max-width: 400px;
    margin: 10px;
    padding: 5px;
    background-color: var(--font__color);
    border-radius: 8px;
}

.main__mensagem__contact__end {
    background-color: #99FF99;
    align-self: flex-end;
}

.main__mensagem__sender {
    font-weight: 900;
    padding-bottom: 2px;
}

.main__mensagem__hora {
    display: flex;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
}

.main__footer {
    color: var(--font__color);
    padding: 10px;
    grid-area: footer;
    background-color: var(--primary__color);
    display: grid;
    grid-template-columns: 50px minmax(350px, 1fr);
    align-items: center;
    font-size: 24px;
    gap: 20px;
}

.main__footer__envio {
    display: flex;
    align-items: center;
    gap: 40px;
}

.camp__main {
    background-color: var(--font__color);
    height: 40px;
    width: 1000px;
    border-radius: 8px;
}