* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary__color: #263238;
    --font__color: #b0bec5;
    --backContact__color: #455a64;
}

body {
    display: grid;
    grid-template-areas: 'header main';
    grid-template-columns: 400px 1fr;
}

header {
    height: 100vh;
    background-color: var(--backContact__color);
}

.panel__header {
    background-color: var(--primary__color);
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status {
    display: flex;
    gap: 50px;
}

header img,
main img {
    width: 60px;
    height: 60px;
}

header span {
    font-size: 24px;
    color: var(--font__color);
}

.panel__header__finder {
    background-color: #37474f;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    gap: 20px;
}

.camp__finder {
    background-color: #78909c;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backContact__color);
    color: #000;
    display: flex;
    align-items: center;
    height: 92px;
    padding: 10px 15px;
    gap: 30px;
    border-bottom: 1px solid #000;
}

.contact__container {
    cursor: pointer;
}

.contact__image {
    border-radius: 50%;
}

main {
    display: grid;
    grid-template-areas: 'header''main''footer';
    grid-template-rows: 85px 1fr 85px;
    background-color: green;
    height: 100vh;
}

.main__header {
    background-color: var(--primary__color);
    grid-area: header;
    display: grid;
    grid-template-columns: 65px 1fr 65px;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
    color: var(--font__color);
}

.main__icons {
    display: flex;
    font-size: 24px;
    color: var(--font__color);
    gap: 40px;
}

.main {
    grid-area: main;
}

.main__footer {
    grid-area: footer;
    background-color: var(--primary__color);
}